<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligar/Desligar LEDS</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<h2> BEM VINDO AO LIGADOR/DESLIGADOR DE LEDS E SENSOR</h2>
<body>
    <p><a href="/ligar">Ligar LED</a></p>
    <a href="/desligar">Desligar LED</a>
    <br>
    <p></p>
    <p></p>
    <p><img src="/static/pinout-sensor-ultrassonico-hc-sr04.jpg" alt="" srcset=""></p>
    {{ultrassom[0]}} cm
    
</body>
</html>